
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}
.image{
    width: 325px;
    height: 290px;
   object-fit: cover;
}
h1{
    color: antiquewhite;
}
.main{
    padding-top: 1px;
    background-color: aliceblue;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img{
    width: 325px;
    height: 230px;
    object-fit: cover;
}
h2{
    text-align: center;
    background-color: aliceblue;
}
p{
    background-color: aliceblue;
}
.btn{
    background-color: aliceblue;
    color: brown;
}

@media screen and (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr); 
    }
    img{
        width: 300px;
     justify-content: center;
    }
    .image{
        width: 300px;
    }
}
@media screen and (max-width: 580px) {
    .grid {
      grid-template-columns: repeat(1, 1fr); 
      margin: 0 auto;
  }
  img {
    max-width: 100%; 
    width: 450px; 
    display: block; 
    margin: 0 auto; 
}
.image{
        max-width: 100%; 
        width: 450px; 
        display: block; 
        margin: 0 auto; 

}
}