 *{
    padding: 0;
    margin: 0;
   background-color: black;
}
button{
    font-size: 24px;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}
.heder{
    display: flex;
  flex-direction: column;
 justify-content: space-around;
  padding: 20px;
  background-color: #0e0d0d;
}
.img-heder{
    max-width: 10%;
    height: auto;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .header {
      padding: 10px;
    }
  
    button {
      font-size: 20px;
      padding: 8px;
    }
  }
  
  @media (max-width: 480px) {
    button {
      font-size: 18px;
      padding: 6px;
    }
  }
   